@use '../variables' as *;
@use '../mixins' as *;

.top {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  @include flex-center;

  &__bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 1;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgba(0, 0, 0, 0.75);
    transition: background 0.1s ease-out;
  }

  &__gear-container {
    width: 50vw;
    min-width: 30rem;
    height: auto;
    overflow: visible;
    position: absolute;
    transform: translateY(-50%) rotate(90deg);
    top: 75%;
    right: -10%;
    z-index: 3;
  }
}

.gear {
  transform-box: fill-box;
  transform-origin: center;
  fill: $color-white;
  opacity: 0.025;

  &--large {
    animation: spin 19.8s linear infinite;
  }

  &--small {
    animation: spin 10s linear infinite reverse;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}