// Import Base styles
@use '../../../../scss/reset';
@use '../../../../scss/common';

// Import variables and mixins
@use '../../../../scss/variables' as *;
@use '../../../../scss/mixins' as *;

// SKILL section
.skill {
  height: 100%;
  width: 100%;
  background: $color-bg;

  &__heading {
    @include heading2;
    margin-bottom: $spacing-xl;
    text-align: center;
  }

  &__body {
    display: grid;
    gap: $spacing-xl;

    @media (min-width: $breakpoint-md) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__category {
    h3 {
      @include heading3;
      color: $color-accent;
    }

    ul {
      list-style: none;

      li {
        padding: $spacing-sm 0;
        @include border-bottom-color(1px, solid, $color-white, 0.1);
      }
    }
  }
}